* {
    margin: 0;
    padding: 0;
}



body {

    background-image: url(../imagenes/Fondo_peli_original.jpg);
    background-size: cover;
}

body{
    background-attachment: fixed;

}

header,
.main,
footer {

    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
}

header nav {
    background: #528FD5;
    overflow: hidden;

}

header nav ul {
    list-style: none;

}

header nav ul li {
    float: left;

}

header nav ul li {
    padding: 10px 20px;
    display: block;
    color: #fff;
    text-decoration: none;

}

header nav ul li a:hover {
    background: #75ACEC;

}

.main .articles {
    width: 68.5%;
    margin-right: 1.5%;
    float: left;

}

.main .articles article {
    padding: 100px;
    background: #fff;
    margin-bottom: 20px;

}

aside {
    width: 30%;
    background: #fff;
    float: left;
    padding: 00px box-sizing:border-box;

}

aside img {
    width: 100%;
}

footer {
    background: #000;
    color: #fff;
    clear: both;
    padding: 10px 0px;
    text-align: center;
}