body{
background-image: url(imagenes/Captura-de-pantalla-2017-03-30-a-las-11.59.05.jpg);   
 background-size: 100%;
 background-attachment: fixed;
}

h3{
    color: bisque;
    width: 750px;
    word-wrap: break-word;
    font-size: x-large;
}

section{
    color: bisque;
}

p{
    color:bisque;
    width: 700px;
    word-wrap: break-word;
    font-size: x-large;
}

h5{
    color: bisque;
}

.a{
    color: bisque;
    
    
}

ul{
    font-size: 20PX;
    
}

div{
    color: bisque;
    font-size: 20px;
}

.tamano{
    font-size: 25px;
}

.color{
    color: bisque;
}

.text{
    color: bisque;
    text-align: right;
}
text{
    margin: auto ;
}
header{
    position: fixed;
}
.cambiar{
    background-color:rgba(128, 128, 128, 0.52);
}

th{
    color: bisque;
}