*{
    margin:0;
    padding:0;
}

body{
    background-image:url(imagenes/Fondo_peli_original.jpg);
    background-size:cover
   
}
body{
     background-attachment:fixed;
}


h3{
    color: black;
    
    word-wrap: break-word;
    font-size: x-large;
}

section{
    color: black;
}

p{
    color:black;
    
    word-wrap: break-word;
    font-size: x-large;
}

h5{
    color: black;
}

.a{
    color: black;
    
    
}

ul{
    font-size: 20PX;
    
}

div{
    color: black;
    font-size: 20px;
}

.tamano{
    font-size: 20px;
}

.color{
    color: black;
}

.text{
    color: black;
    text-align: right;
}
text{
    margin: auto ;
}
header{
    position: fixed;
}
.cambiar{
    background-color:rgba(128, 128, 128, 0.52);
}

th{
    color: black;
}
h1{
    color: black;
}



.body .hola{
    background: #e6e6e6;
}
header .hala{
    background: #fff;
    width: 90%;
    margin: auto;
}

table{
    background-color: rgba(202, 71, 71, 0.452);
    
}

table, tbody, tr{
    color: black;
    
}

div#seccion_winner {
    margin-top: 100px;
}


* {
    margin: 0;
    padding: 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;


}


.container .form .form-header .form-title{
font-weight: normal;
font-family: sans-serif;
color: #ff851b;
text-align: center;
padding:14px 0;

}

.container .form .form-header .form-title .h1 .span{
    color: rgb(255, 255, 255);
}


.container .form{
    background: rgba(0,0,0,.6);
    width: 90%;
    max-width: 650px;
    margin: auto;
    padding:5px 35px;
    margin-top: 30px;
    padding-bottom:30px;
    border-radius:3px;

}

.container .form .form-label{
display: block;
color:#ff851b;
font-size:16px;
font-family:roboto;
position: relative;
    
}

.container .form .form-input, .form-textarea{
    background:rgb(0, 10, 10);
    border:none;
    outline:none;
    border-bottom:2px solid #ff851b;
    width: 100%;
    padding:12px;
    margin-bottom:20;
    border-radius:2px;
    color: #fff;
    font-family:roboto;
}

.container .form .form-textarea{
    resize:vertical;
    max-height:150px;
    max-height:100px;

}

.container .form .btn-submit{
    width:100%;
    font-family:roboto;
    outline:none;
    background: #ff851b;
    font-size:16px;
    border:none;
    color:#fff;
    padding:15px 0;
    cursor: pointer;
    transition:all .5s ease;

}

.container .form .btn-submit:hover{
background:rgb(53, 86, 235);
}

.container .select .id{
    
}