body{
background: burlywood;

}


h3{
    color: black;
    
    word-wrap: break-word;
    font-size: x-large;
}

section{
    color: black;
}

p{
    color:black;
    
    word-wrap: break-word;
    font-size: x-large;
}

h5{
    color: black;
}

.a{
    color: black;
    
    
}

ul{
    font-size: 20PX;
    
}

div{
    color: black;
    font-size: 20px;
}

.tamano{
    font-size: 25px;
}

.color{
    color: black;
}

.text{
    color: black;
    text-align: right;
}
text{
    margin: auto ;
}
header{
    position: fixed;
}
.cambiar{
    background-color:rgba(128, 128, 128, 0.52);
}

th{
    color: black;
}
h1{
    color: black;
}
