body{
    background-image:url(imagenes/Fondo_peli_original.jpg);
    background-size:cover
   
}
body{
     background-attachment:fixed;
}


h3{
    color: black;
    
    word-wrap: break-word;
    font-size: x-large;
}

section{
    color: black;
}

p{
    color:black;
    
    word-wrap: break-word;
    font-size: x-large;
}

h5{
    color: black;
}

.a{
    color: black;
    
    
}

ul{
    font-size: 20PX;
    
}

div{
    color: black;
    font-size: 20px;
}

.tamano{
    font-size: 20px;
}

.color{
    color: black;
}

.text{
    color: black;
    text-align: right;
}
text{
    margin: auto ;
}
header{
    position: fixed;
}
.cambiar{
    background-color:rgba(128, 128, 128, 0.52);
}

th{
    color: black;
}
h1{
    color: black;
}


*{
    margin: 0;
    padding: 0;
}

.body .hola{
    background: #e6e6e6;
}
header .hala{
    background: #fff;
    width: 90%;
    margin: auto;
}

table{
    background-color: rgba(202, 71, 71, 0.452);
    
}

table, tbody, tr{
    color: black;
    
}